<header>
    <h1>Bienvenue sur CRUDcroustillant</h1>
    <nav>
        <ul>
            <li><a href="{{ path('index') }}">Accueil</a></li>
            <li><a href="{{ path('burger') }}">Nos Burgers</a></li>
        </ul>
    </nav>
</header>